<h1>Editing Platform</h1>

<%= render 'form', platform: @platform %>

<hr>

<%= link_to 'Show', @platform, class: "btn btn-default btn-xs" %>
<%= link_to 'Back', platforms_path, class: "btn btn-default btn-xs" %>
